* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "oswald";
    src: url("./assets/Oswald-VariableFont_wght.ttf");
}

/* Navbar Start */

.navbar {
    background-color: rgb(16, 29, 44);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden;    
    position: fixed; */
    width: 100%;
}

.logo  {
    color: rgb(178, 133, 81);
    font-size: 28px;
     margin-right: 58%;
    padding-top: 8px;
    text-transform: uppercase;
    font-family: 'oswald';
}


.nav-menu {
    font-size: 20px;
    padding-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-menu ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav-menu li {
    list-style: none;

}

.nav-menu a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: rgb(178, 133, 81);
}

/* navbar end */
h1{
    font-size: 44px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;

    padding-top: 4%;
}

.contact{
    color:rgb(178, 133, 81) ;
    font-size: 44px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-left: 12%;

}

.start-text p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 12%;
    padding-top: 20px;
    margin-bottom: 30px;
}

label{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 12%;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

input{
    margin-left: 12%;
    padding-bottom: 30px;
    padding-left: 60%;
    margin-bottom: 30px;
    margin-top: 20px;
}

textarea{
    margin-left: 12%;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-left: 60%;
    padding-bottom: 120px;
}

button{
    margin-left: 12%;
    padding: 10px 20px;
    color: white;
    font-size: 22px;
    background-color: rgb(16, 29, 44);
}

.footer-big{
    background-color: rgb(16, 29, 44);
    width: 100vw;
    height: 40vh;
    margin-top: 40px;
    display: flex;
    gap: 24%;
    padding-top: 3%;
    padding-left: 12%;
    padding-right: 12%;

}

.location i{
    font-size: 64px;
    color: white;
}

.phone i{
    font-size: 64px;
    color: white;
}

.email i{
    font-size: 64px;
    color: white;
}

.location h3{
    color: white;
    font-size: 22px;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.phone h3{
    color: white;
    font-size: 22px;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.email h1{
    color: white;
    font-size: 22px;
    padding-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.location p{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 15px;
}

.phone p{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 15px;
}

.email p{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 15px;
}

.footer-last{
    background-color:rgb(16, 29, 44) ;
    color: white;
    width: 100vw;
    height:13vh ;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30px;
}




